/* OVERALL */

* {
  font-family: 'Kadwa', sans-serif;
  color: black;
}

body {
  padding: 40px;
  background-color: #f6f6f6;
}

h1 {
  font-size: 40px;
}

section {
  background-color: #dddddd;
  padding: 40px;
  margin: 40px 0;
}


/* GUZZARDI TWEETS */

.guzzardi {
  font-size: 24px;
}

.notes-text {
  font-size: 24px;
  text-align: center;
}

.source {
  text-align: center;
}

.who-is-talking {
  font-size: 18px;
  font-style: italic;
  color: #333333;
}

.background-context {
  font-size: 18px;
}



/* INCOME TAX RATE MEDALLIONS */

.medallion {
  background-color: #151560;
  border-radius: 240px;
  text-align: center;
  margin: 20px auto;
  display: inline-block;
}

.medallion375 {
  width: 240px;
  height: 240px;
}

.medallion400 {
  width: 262px;
  height: 262px;
}

.medallion584 {
  width: 298px;
  height: 298px;
}

.medallion627 {
  width: 309px;
  height: 309px;
}

.medallion765 {
  width: 342px;
  height: 342px;
}

#illinois-medallion {
  text-align: center;
  display: block;
}

#wisconsin-medallions {
  margin: 20px 0;
}

.medallion-number {
  background-color: transparent;
  color: white;
}

.big-number {
  font-size: 70px;
  line-height: 240px;
}

.small-number {
  line-height: 240px;
  font-size: 35px;
}

/* CALL TO ACTION */

.call-to-action {
  text-align: center;
}

.call-to-action div {
  font-size: 24px;
}

.call-to-action #call-to-action-link {
  font-size: 50px;
  font-weight: bold;
}
